<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
<sql id="sqlWhere">
	where board_type = #{board_type}
	<if test="search_type != '' and search_type != null">
		and 
		<if test="search_type == 'all'.toString()">
			(
			title like '%'||#{search_keyword}||'%'
			or
			content like '%'||#{search_keyword}||'%'
			)
		</if>
		<if test="search_type == 'title'.toString()">
			title like '%'||#{search_keyword}||'%'
		</if>
		<if test="search_type == 'content'.toString()">
			content like '%'||#{search_keyword}||'%'
		</if>
	</if>
</sql>
<!-- 해당 게시물의 첨부파일 업데이트시키기 
첨부파일은 update 기능인데, 태그는 insert를 사용한이유, PK가 save_file_name UUID이름인데, 수정을 할 수 없습니다.
예, 주민번호(PK)를 수정한다고 하는 것과 같은얘기로서 허용이 않됩니다. 그래서, 삭제후 insert태그를 사용합니다.
-->
<insert id="updateAttach">
insert into tbl_attach (save_file_name,real_file_name,bno,reg_date)
values (#{save_file_name}, #{real_file_name}, #{bno}, sysdate)
</insert>
<!-- 해당 게시물의 첨부파일 1개만 지우기(아래) PK프라이머리키=주키=기본키=>인덱스는 자동생성 -->
<delete id="deleteAttach">
delete from tbl_attach where save_file_name = #{save_file_name}
</delete>
<!-- 해당 게시물의 첨부파일 모두 지우기(아래) 포린키Foreign=외래키=참조키사용 -->
<delete id="deleteAttachAll">
delete from tbl_attach where bno = #{bno}
</delete>
<!-- LAST_INSERT_ID() 마리아DB에서 작동X -->
<insert id="insertAttach">
insert into tbl_attach (save_file_name, real_file_name, bno, reg_date) 
values (#{save_file_name}, #{real_file_name}, 
(
	SELECT TABLE_A.BNO FROM
	(
	SELECT BNO FROM TBL_BOARD ORDER BY BNO DESC
	) TABLE_A
	WHERE ROWNUM = 1
),
sysdate
)
</insert>
<update id="updateBoard">
update tbl_board set
	board_type = #{board_type},
	title = #{title},
	content = #{content},
	update_date = sysdate
where bno = #{bno}
</update>
<delete id="deleteBoard">
delete from tbl_board where bno = #{bno}
</delete>
<!-- 게시물등록시 bno가 자동증가가 않되기 때문에 시퀸스를 사용한 값을 insert쿼리실행전에 PK값을 지정 후 사용합니다. -->
<insert id="insertBoard">
	<selectKey keyProperty="bno" resultType="int" order="BEFORE">
	SELECT SEQ_BNO.nextval FROM DUAL
	</selectKey>
insert into tbl_board (bno,board_type,title,content,writer,reg_date) 
values(#{bno},#{board_type},#{title},#{content},#{writer},sysdate)
</insert>
<select id="readAttach" resultType="org.edu.vo.AttachVO">
select * from tbl_attach where bno = #{bno} order by reg_date desc
</select>
<select id="readAttach_noUse" resultType="java.util.HashMap">
select save_file_name,real_file_name from tbl_attach where bno = #{bno} order by reg_date desc
</select>
<select id="readBoard" resultType="org.edu.vo.BoardVO">
select * from tbl_board where bno = #{bno}
</select>
<update id="updateViewCount">
update tbl_board set view_count = NVL(view_count,0) + 1
where bno = #{bno}
</update>

<select id="countBoard" resultType="int">
select count(*) from tbl_board
<include refid="sqlWhere"></include>
</select>

<select id="selectBoard" resultType="org.edu.vo.BoardVO">
SELECT TABLE_B.* FROM 
(
    SELECT ROWNUM AS RNUM, TABLE_A.* FROM
    (
    SELECT * FROM TBL_BOARD 
    <include refid="sqlWhere"></include>
<![CDATA[
    order by reg_date desc
    ) TABLE_A
    WHERE ROWNUM <= (#{queryStartNo}/#{queryPerPageNum}+1)*#{queryPerPageNum}
) TABLE_B
WHERE TABLE_B.RNUM > (#{queryStartNo}/#{queryPerPageNum}) * #{queryPerPageNum}
]]>
</select>

</mapper>