@charset "UTF-8";
/* 모바일용 스타일지정 시작  */
/* 헤더영역 시작 */
.header {
height:80px;
position:relative;/*상대적인 위치 다른예는 absolute절대적인위치=fixed붙박이*/
padding:0px 2%;/*안쪽여백: 바깥쪽여백은 margin입니다. 18px(상하여백) 5%(좌우여백)*/
/*padding:18px 5% 18px 5%; 시계방향으로진행 시작 위쪽부터 시작 의 약자 위로 표시됩니다.
만약 padding:18px 5% 18px; 3가지 모두 동일. 18px(상여백) 5%(좌우여백) 18px(하여백)
*/
}
.header .logo {
float:left;/*플로트: 떠다니는 영역. 역할은 세로배치를 가로배치로 변경처리에 사용됨*/
}
.header .logo a {
font-size:26px;/*글자크기*/
color:#3f51b5;/*글자색상*/
font-weight:normal;/*글자두께*/
text-indent:-9999%;/*들여쓰기*/
display:block;
height:80px;
background:url(/resources/sample/img/ball.png) no-repeat;/*배경이미지 기본이 반복repeat*/
background-size:90%;
background-position:0px center;/*배경위치는 0px(가로) center(세로)*/
}
.header .menu-toggle-btn { /*토글:똑딱이버튼*/
float:right;
width:20px;
margin-top:28px;
cursor:pointer;/*마우스커서모양을 손모양으로 변경*/
}
.menu-toggle-btn span {
display:block;height:2px;
width:100%;/*여기서 100% .menu-toggle-btn영역의 가로20px 까지가 100%임*/
background:#3f51b5;
margin-bottom:5px;
}
.header .gnb {
display:none;/*페이지로딩할때 숨겨야 하기 때문에 none으로 처리*/
position:absolute;/*gnb영역의 위치를 절대위치로 지정 위치정보가 필요*/
top:80px;/*화면상단에서 얼만큼 떨어지게 배치할 건지 지정*/
left:0px;/*화면왼쪽에서 얼만큼 떨어지게 배치할지 저정*/
width:100%;
background:#3f51b5;
z-index:21;/*화면에서 콘텐츠가 겹치는경우 z인덱스*/
}
.header .gnb li {
/*border는 테두리 bottom:아래,top:위,left-right:좌-우 1px(두께),solid(실선),#16진수(색상) */
border:1px solid #303f9f;
border-bottom:0px;
}
/*가상선택자 : 사용*/
.header .gnb li:last-child {
border-bottom:1px solid #303f9f;
}
.header .gnb li a {
display:block;/* 1줄 1글자라도 전체 자리를 차지하는 영역 : ()inline-block 자리를 차지하지만, 본인크기만) */
padding:14px 0 14px 5%;
font-size:14px;
color:#fff;
}
/* 헤더영역 끝 */

/* 본문섹션 슬라이드영역 시작 */
#wrap .slider img {width:100%;}/* Cascade Style Sheet 특징 계단형 스타일지정 */
/* 본분섹션 슬라이드영역 끝 */

/* 푸터영역 시작 */
.footer {
margin-top:30px;
}
.footer p {
margin: 21px 0px;
color:#3f51b5;
text-align:center;/*문장내용을 가로 가운데 정렬*/
}
/* 푸터영역 끝 */

/* we are페이지 영역 시작 */
.weare-header {
margin-top:30px;
text-align:center;
}
.section-title {
margin-bottom:30px;
font-size:42px;
color:#3f51b5;
font-weight:normal;
letter-spacing:5px;/*글자사이 간격주가*/
}
.weare-header p {
color:#616161;
line-height:1.9;/*줄간격 단위 1.9 글자크기의 1.9배수*/
font-size:14px;
}
.weare-body {
margin-top:68px;
}
.weare-body li {
text-align:center;
margin-top:50px;/*게시물사이 간격 li태그 4개 사이간격주기*/
}
.weare-body li img {
height:220px;/*이미지는 가로든 세로든 1쪽 크기를 지정하면, 비율을 유지하면서 크기가 조정됩니다.*/
}
.weare-body li h2 {
margin: 20px 0px;
font-size:30px;
font-weight:normal;
color:#3f51b5;
}
.weare-body li p {font-size:14px;}
/* we are페이지 영역 끝 */

/* 모바일용 스타일지정 끝 */